* {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

body {
    background-color: #1F2937;
    /* margin: 20px 144px; */
    justify-content: space-between;
    min-height: 100vh;
    font-size: 100%;
    font-size: 1rem;
    color: white;
}

.header {
    margin: 20px 144px;
}

.header_links {
    margin: 0 0 0 auto;
    flex: 1 1 100;
    text-align: right;
}


.header_logo {
    font-size: 1.5rem;
    font-weight: bold;
    color:#f9faf8;
}

.header_links p {
    margin: 0 0 0 6px;
    padding: 0 0 0 18px;
    color: #e5e7eb;
    font-size: 1.125rem;
}

.top {
    padding: 48px 16px;
    justify-content: center;
    margin: 0 144px;

}

.title {
    max-width: 50%;
}

.title h1 {
    color: #f9faf8;
    font-size: 3rem;
    margin: 0;
    font-weight: bolder;
}

.title p {
    color: #e5e7eb;
    font-size: 1.125rem;
    margin: 0;
}

.button {
    border-radius: 0.5rem;
    background-color: #3882f6;
    border-style: none;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
    font-weight: bold;
    color: #e5e7eb;
    font-size: 1.25rem;
}

.exampleImage {
    max-width: 50%;
    flex: 1 1 0;
    margin-left: 2rem;
    /* margin-right: 1rem; */
    /* width: 20rem; */
}

.gallerySection {
    background-color: #f9faf8;
    color: #1F2937;
    padding-bottom: 120px;
}

.galleryHeader {
    text-align: center;
    font-weight: bolder;
    font-size: 2.5rem;
}

.gallery {
    justify-content: center;
    align-items: center;
}

.galleryContainer {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
}

.galleryItem {
    width: 180px;
    aspect-ratio: 1;
    background-color: #f9faf8;
    border-width: 4px;
    border-color: #3882f6;
    border-radius: 20px;
    border-style: solid;
    margin: 10px 20px 0 20px;
}

.galleryText {
    width: 184px;
    text-align: center;
    font-size: 1.25rem;
    color: #384961;
}

.quoteSection {
    background-color: #e5e7eb;
    color: #1F2937;
    padding: 160px;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 300;
}

.quoteAttribution {
    font-size: 1.75rem;
    font-weight: bold;
    align-self: flex-end;
    margin-right: 4rem;
    font-style: normal;
}

.bottomSection {
    background-color: #f9faf8;
    padding: 120px 80px;
}

.bottomPanel {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 60px 120px;
    width: 100%;
    justify-content: center;
    gap: 120px;
    align-items: center;
    border-radius: 0.5rem;
}

.bottomHeader {
    font-size: 1.75rem;
    font-weight: bold;
}

.bottomParagraph {
    font-size: 1.25rem;
    color: #e5e7eb;
}

.bottomButton {
    border-style: solid;
    border-width: 0.2rem;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 0.5rem;
    align-items: center;
    padding: 0.5rem 2.5rem;

}

.footer {
    align-items: center;
    justify-content: center;
    color: #e5e7eb;
}
